@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97bef8;
}

.container {
  width: 50%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.250);
} /* Alterar Width e Height */

.form-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde5a7;
  padding: 1rem;
} /* Alterar Width */

.form-image img {
  width: 25rem;
}

.form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
}

.form-header {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}



.btn {
  display: inline-block;
  align-items: center;
  padding: 0rem;
  background-color: #104494;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  width: 3.8rem;
  height: 1.7rem;
  margin: 0rem;
  cursor:pointer

}

.btn:hover {
  background-color: #3a4d69;
}

.form-header h2::after {
  content: "";
  display: block;
  width: 10rem;
  height: 0.3rem;
  background-color: #224a85;
  margin: 1px;
  position: absolute;
  border-radius: 14px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.input-box input {
  margin: 0.6rem 1rem;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 0px #c3d6f0b6;
  width: 15rem;
}

.input-box input:hover {
  background-color: #a4cbf077;
}

.input-box input:focus-visible {
  outline: 1px solid #224a85;
}

.input-box label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-cep {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}

.input-cep input {
  margin: 0.6rem 1rem;
  padding: 0.6rem 2.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 0px #c3d6f0b6;
  width: 5.6rem;
}

.input-cep input:hover {
  background-color: #a4cbf077;
}

.input-cep input:focus-visible {
  outline: 1px solid #224a85;
}

.input-cep label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}


